# flash_attn==2.5.8
# torch==2.3.1
# accelerate==0.31.0
# transformers==4.41.2

torch
accelerate
# transformers
gradio
flash_attn

transformers[sentencepiece] # Installa tutte le dipendenze necessarie per l'uso dei transformers
datasets # Installato per gli esempi
evaluate # Installato per gli esempi
# safetensors